<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='css/new_style.css' rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <title>Описание работы с сервисом</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<div class="container">


    <header class="d-flex justify-content-center py-3">


        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link">Мобильные стенды</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Информационные стенды</a></li>

            <li class="nav-item"><a href="#" class="nav-link"> Цены на печать</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Как заказать</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Доставка</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
    </header>

    <p>
        Под финишной обработкой баннера обычно понимают работы по проварке (усиления) края баннера, обрезку в размер,
        установку люверсов.</p>

    <p>Обработка бывает обычно нескольких видов:</p>
    <ol>
        <li class="nav-item"><a href="#Проварка баннера и установка люверсов через 30 см">Проварка баннера
            и установка люверсов через 30 см</a></li>
        <li class="nav-item"><a href="#Оставить белые поля">Оставить белые поля по 5 см</a></li>
        <li class="nav-item"><a href="#Резка в размер">Резка в размер</a></li>
        <li class=nav-item"><a href="#Люверсы по углам">Люверсы по углам</a></li>
        <li class=nav-item"><a href="#Установка люверсов в подворот">Установка люверсов в подворот</a></li>
        <li class=nav-item"><a href="#Проварка баннера со шнуром и установка люверсов через 30 см ">Проварка баннера со
            шнуром и установка люверсов через 30 см </a></li>
        <li class=nav-item"><a href="#Проварка кармана снизу">Проварка кармана снизу</a></li>
        <li class=nav-item"><a href="#Проверка кармана сверху">Проверка кармана сверху</a></li>


    </ol>
    <h2 id="Проварка баннеров и установка люверсов через 30 см">Проварка баннера и установка люверсов через 30 см</h2>
    <p>Если не хотите вникать в тонкости финишной обработки баннеров. Смело выбирайте эту позицию обработки баннера,
        и не ошибетесь. Это стандартная обработка баннера. Примерно 85 % заказов баннера обрабатываются этим способом.
        Баннер печатается с запасом по 5 см по периметру по всем сторонам. Эти 5 см подгибается назад на 180 градусов
        для усиления края и проваривается. Затем в усиленный край устанавливаются люверсы.
    </p>
    <p> Процедура проварки баннера и установки люверсов каждые 30 см включает в себя:
    <ul>
        <li>
            Защиту краев баннера от разрывов путем проваривания с помощью специального оборудования.
        </li>
        <li>
            Установку люверсов (отверстий) вдоль всех четырех сторон баннера на равных расстояниях в 30 см друг от
            друга,
            чтобы обеспечить надежное крепление баннера к стойкам или другим конструкциям.

        </li>
    </ul>

    Эти шаги необходимы для предотвращения деформации и повреждения баннера во время эксплуатации, а также для
    облегчения процесса крепления баннера на месте установки.
    </p>
    <h2 id='Оставить белые поля'>Оставить белые поля по 5 см на баннере</h2>

    <p>На баннере остаются с каждой стороны белые поля по 5 см предназначенные для удобного
        крепления баннера или пристрелки степлером подворота.</p>
    <h2 id='Резка в размер'>Резка материала "в размер"</h2>
    <p>Резка в размер - напечатанный материал чаще всего - баннерное полотно режется "в размер" по картинке.</p>
    <h2 id="Люверсы по углам">Люверсы по углам</h2>
    <p>Расстановка люверсов по углам используется для меленьких баннеров (размером от 0,3 до 1,2 м) для крепления
        небольших
        размеров
        достаточно установить люверсы в углах баннера. Если баннера больше 1 метра шириной и 1,5 метра длинной следует
        использовать
        стандартную установку люверсов через 30 см </p>
    <h2 id="Установка люверсов в подворот">Установка люверсов в подворот баннера</h2>
    <p>Установка люверсов в подворот баннера. Применяется в том случае когда ваш баннер прослужит всего пару недель, или
        же
        будет закреплен в помещении где, как правило, нет сильных ветровых нагрузок. В этом случае можно немного
        съэкономить
        и заказать установку люверсов в подворот.
    </p>
    <h2 id="Проварка баннера со шнуром и установка люверсов через 30 см ">Проварка баннера со шнуром и установка
        люверсов через 30 см </h2>


    <p>Проварка баннера со шнуром баннера используется для баннеров большого формата. Где требуется выдерживать большие
        ветровые нагрузки.</p>

    <h2 id="Проварка кармана снизу">Проварка кармана снизу</h2>
    <p> (Из белого полотна проваривается петля в 15 см которая проваривается снизу, обычно для
        утяжеления нижней части баннера)</p>

    <h2 id="Проверка кармана сверху">Проверка кармана сверху</h2>
    <p>Из белого полотна проваривается карман в 15 см сверху баннера, применяется
        для монтажа на трубу</p>
</body>
</html>
