{% extends 'base.html'%}
<title>{% block title %} {{curent_order}} {% endblock %}</title>
{% block body %}
<h3> {{curent_order}}</h3>

<table>
        <thead>
        <th>Дата</th>
           <th>Платильщик</th><th>Оплата</th>
           <th>Сумма</th><th>Статус</th>
       </thead>

        <tr>
            <td>{{ Orders.created }}</td>
            <td>{{ Orders.organisation_payer }}</td>
            <td>{{ Orders.paid }}</td>
            <td>{{ Orders.total_price }}</td>
            <td>{{ Orders.status }}</td>
            <td><a href="/orders/order_pay/{{order.id}}">Оплатить</a>
            </td>
        </tr>
            </table>



<h5> Файлы которые можно добавить в заказ: </h5>

    <table>
        <thead>
           <th>Картинка</th><th>Материал</th><th>Финишная обработка</th>
           <th>Поля</th><th>Итого</th>
       </thead>

  {% for item in items %}
        <tr>
            <td><a>{% load thumbnail %} <img src="{% thumbnail item.images 100x0 %}" class="image-detail"></a></td>
            <td>{{ item.material }}  руб. </td>
            <td>{{ item.FinishWork }} руб.</td>
            <td>{{ item.Fields }}</td>
            <td>{{ item.price }}</td>
            <td><a href="/orders/add_item_in_order/{{order_id}}/{{item.id}}">Добавить в заказ</a></td>
        </tr>
        {% endfor %}
                    </table>

<h5> Файлы в заказе: </h5>

    <table>
        <thead>
           <th>Картинка</th><th>Материал</th><th>Финишная обработка</th>
           <th>Поля</th><th>Итого</th>
       </thead>

  {% for item in items_in_order %}
        <tr>
            <td><a>{% load thumbnail %} <img src="{% thumbnail item.product.images 100x0 %}" class="image-detail"></a></td>
            <td>{{ item.price_per_item }} руб.</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }} руб. </td>
            <td>{{ item.id }} ID </td>
            <td><a href="/orders/del_item_in_order/{{order_id}}/{{item.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
                    </table>

{% endblock %}