{% extends 'base.html'%}
<title>{% block title %} {{current_order}} {% endblock %}</title>
{% block body %}
<h3>{{current_order}}</h3>
<hr>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Плательщик</th>
                <th>Оплата</th>
                <th>Сумма</th>
                <th>Статус</th>
                <th>Доставка</th>
            </thead>
            <tbody>

            <tr>
                <td>{{ Orders.created }}</td>
                <td>{{ Orders.organisation_payer }}</td>
                <td>{{ Orders.paid }}</td>
                <td>{{ Orders.total_price }}</td>
                <td>{{ Orders.status }}</td>
                <td>{{ Orders.delivery }}</td>
                <!--                <td><a href="{% url 'orders:order_pay' Orders.id %}">Оплатить</a>-->
                <td>
<!--                    <button type="submit" class="btn btn-primary"-->
<!--                            onClick="location.href='{% url 'orders:order_pay' Orders.id %}'">Оплатить-->
<!--                    </button>-->
                </td>
            </tr>
        </table>
        </tbody>
    </div>
</div>
{% if items.count > 0 %}
{% if current_order.status.id == 1 %}

<h5> Файлы которые можно добавить в заказ: </h5>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Картинка</th>
                <th>Материал</th>
                 <th>Размер</th>
                <th>Количество</th>
                <th>Финишная обработка</th>
                <th>Поля</th>
                <th>Итого</th>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td><a>{% load thumbnail %} <img src="{% thumbnail item.images 100x0 %}" class="image-detail"></a></td>
                <td>{{ item.material }}</td>
                <td>{{ item.width }}x{{ item.length }} см.</td>
                <td>{{ item.quantity }} шт.</td>
                <td>{{ item.FinishWork }}</td>
                <td>{{ item.Fields }}</td>
                <td>{{ item.price }}</td>
                <td><a href="/orders/add_item_in_order/{{order_id}}/{{item.id}}">Добавить в заказ</a></td>
            </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
</div>
{% endif %}
         {% else %}
        <h6> Нет файлов для добавления в заказ </h6>

{% endif %}


{% if items_in_order.count > 0  %}

<h5> Файлы в заказе: </h5>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Картинка</th>
                <th>Материал</th>
                <th>Размер</th>
                <th>Количество</th>
                <th>Финишная обработка</th>
                <th>Поля</th>
                <th>Итого</th>
            </thead>
            <tbody>
            {% for items in items_in_order %}
            <tr>
                <td><a>{% load thumbnail %} <img src="{% thumbnail items.product.images 100x0 %}"
                                                 class="image-detail"></a></td>
                <td>{{ items.product.material }}</td>
                <td>{{ items.product.width }}x{{ items.product.length }} см.</td>
                <td>{{ items.product.quantity }} шт.</td>
                <td>{{ items.product.FinishWork }}</td>
                <td>{{ items.product.Fields }}</td>
                <td>{{ items.product.price }} руб.</td>
                {% if items.product.status_product.id == 2 %}

                <td></td>
                {% else %}
                <td><a href="/orders/del_item_in_order/{{order_id}}/{{item.id}}">Удалить</a></td>

                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% if current_order.status.id == 1 %}
    <td>
            <button type="submit" class="btn btn-primary"
                    onClick="location.href='{% url 'orders:order_pay' Orders.id %}'">Оформить заказ</button>
        </td>
{% else %}
                    <td><a href="/media/{{Orders.order_pdf_file}}">Скачать счет</a></td>

{% endif %}

</div>

{% endif %}
{% endblock %}