{% extends 'base.html'%}
<title>{% block title %} {{curent_order.id }} {% endblock %}</title>
{% block body %}

    <table>
        <thead>
           <th>Id</th><th>Картинка</th><th>Материал</th><th>Кол-во</th>
           <th>Ширина</th><th>Длина</th><th>Стоимость</th><th>Дата</th>
       </thead>

{% for order in Orders %}
        <tr>
            <td>{{ order.id }}</td>
<!--            <td>{{ product.images }}</td>-->
<!--            <td><a>{% load thumbnail %} <img src="{% thumbnail product.images 100x0 %}" class="image-detail"></a></td>-->
            <td>{{ order.total_price }}</td>
            <td>{{ order.organisation_payer }} шт.</td>
            <td>{{ order.paid }} см.</td>
            <td>{{ order.comments }} см.</td>
            <td>{{ order.status }} руб.</td>
            <td>{{ order.Contractor }}</td>


            <td><a href="edit/{{product.id}}">Изменить</a>
                <a href="delete/{{product.id}}">Удалить</a>
                <a href="edit/{{product.id}}">Добавить в заказ</a>
                <input type="checkbox" checked>
            </td>
        </tr>
        {% endfor %}
            </table>
    <table>
        <thead>
           <th>Id</th><th>Картинка</th><th>Материал</th><th>Кол-во</th>
           <th>Ширина</th><th>Длина</th><th>Стоимость</th><th>Дата</th>
       </thead>

  {% for product in product %}
        <tr>
            <td>{{ product.id }}</td>
<!--            <td>{{ product.images }}</td>-->
            <td><a>{% load thumbnail %} <img src="{% thumbnail product.images 100x0 %}" class="image-detail"></a></td>
            <td>{{ product.material }}</td>
            <td>{{ product.quantity }} шт.</td>
            <td>{{ product.width }} см.</td>
            <td>{{ product.length }} см.</td>
            <td>{{ product.price }} руб.</td>
            <td>{{ product.created_at }}</td>


            <td><a href="edit/{{product.id}}">Изменить</a>
                <a href="delete/{{product.id}}">Удалить</a>
                <a href="edit/{{product.id}}">Добавить в заказ</a>
                <input type="checkbox" checked>
            </td>
        </tr>
        {% endfor %}
                    </table>

{% endblock %}