{% extends 'base.html'%}
{% load crispy_forms_tags %}

<title>{% block title %} Новый заказ{% endblock %}</title>
{% block body %}
<p> </p>
<h3>Добавить новый заказ</h3>
<form method="post", enctype="multipart/form-data">

    {% csrf_token %}
    {{ form|crispy }}
        <p>
       <label for="date">Дата готовности: </label>

       <input type="date" value={{today}} min={{today}} id="start" name="date_complite"/>
    </p>
    <button type="submit" class="btn btn-primary">Новый заказ</button>
</form>

{% endblock %}