{% extends 'base.html'%}
<title>{% block title %} Отправка заказов: {% endblock %}</title>
{% block body %}


{% if object_list.count > 0 %}
<h2>Заказы готовые к отправке: </h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Заказ №</th>
                <th>Каменты</th>
                <th>Статус</th>
                <th>Дата заказа</th>
                <th>Дата готовности</th>
            </thead>
            <tbody>
            {% for order in object_list %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.comments }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.created }}</td>
                <td>{{ order.date_complete }}</td>
                <td><a href="{% url 'orders:add_file_in_order' order.id %}">Детализация</a></td>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}