{% extends 'base.html'%}
<title>{% block title %} {{curent_order}} {% endblock %}</title>
{% block body %}
<h3> {{curent_order}}</h3>
<h3>Все файлы поступившие в работу:</h3>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Дата</th>
                <th>Платильщик</th>
                <th>Оплата</th>
                <th>Сумма</th>
                <th>Статус</th>
            </thead>
            <tbody>

            {% for order in Orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.created }}</td>
                <td>{{ order.organisation_payer }}</td>
                <td>{{ order.paid }}</td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.status }}</td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<h5> Файлы: </h5>


{% for item in num %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
            <th>ID</th>
            <th>Preview</th>
            <th>Link</th>
            <th>Материал</th>
            <th>Статус файла</th>
            <th>О файле</th>
            </thead>
            {% for i in item %}
            <tbody>
            <tr>
                <td>{{ i.id }}</td>
                <td><a>{% load thumbnail %} <img src="{% thumbnail i.product.images 100x0 %}" class="image-detail"></a>
                </td>
                <td><a href="/media/{{ i.product }}" </a>Скачать</td>
                <td>{{ i.product.material }}</td>
                <td>{{ i.product.status_product }}</td>
                <td><a href="{% url 'orders:about_file' i.id %}"</a>О файле:</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}

{% endblock %}