<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Финишная обработка баннера</title>
</head>
<body>
<p>
    Под финишной обработкой баннера обычно понимают обработку края баннерной ткани после печати.</p>

<p>Обработка бывает обычно нескольких видов:</p>
<ol>
    <li>
        Оставить белые поля по 5 см - на баннере остаются с каждой стороны белые поля по 5 см предназначенные обычно для
        крепления баннера или подворота.
    </li>
    <li>
        Резка в размер - баннерное полотно режется "в размер" по картинке.
    </li>
    <li>
        Люверсы по углам - для самых меленьких баннеров (размером от 0,3 до 1,2 м) для крепления достаточно установить
        люверсы в углах баннера.
    </li>
    <li>
        Установка люверсов в подворот баннера. (применяется для баннеров небольшого размера от 0,2 метра до 2 метров.
    </li>
    <li>
        Проварка баннера и установка люверсов через 30 см (применяется для баннеров размером стороны от 2 до 6 метров)
    </li>
    <li>
        Проварка баннера со шнуром и установка люверсов через 30 см (применяется для баннеров с размером стороны от 6
        метров)
    </li>
    <li>
        Проварка кармана снизу (Из белого полотна проваривается петля в 15 см которая проваривается снизу, обычно для
        утяжеления нижней части баннера)
    </li>
    <li>
        Проверка кармана сверху (Из белого полотна проваривается карман в 15 см сверху баннера, применяется
        для монтажа на трубу)
    </li>
</ol>

</body>
</html>