{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--    <link href="{% static 'css/new_style.css' %} " rel="stylesheet" type="text/css">-->

    <meta charset="UTF-8">
    <title>Финишная обработка баннера</title>
</head>
<body>
<p>
    Под финишной обработкой баннера обычно понимают работы по проварке (усиления) края баннера, обрезку в размер,
    установку люверсов.</p>

<p>Обработка бывает обычно нескольких видов:</p>
<ol>
    <li class="nav-item"><a href="#Проварка баннера и установка люверсов через 30 см" class="nav-link">Проварка баннера
        и установка люверсов через 30 см</a></li>
    <li class="nav-item"><a href="#Оставить белые поля" class="nav-link">Оставить белые поля по 5 см</a></li>
    <li class="nav-item"><a href="#Резка в размер">Резка в размер</a></li>
    <li class=nav-item"><a href="#Люверсы по углам">Люверсы по углам</a></li>
    <li class=nav-item"><a href="#Установка люверсов в подворот">Установка люверсов в подворот</a></li>
    <li class=nav-item"><a href="#Проварка баннера со шнуром и установка люверсов через 30 см ">Проварка баннера со шнуром и установка люверсов через 30 см </a></li>
    <li>
        (применяется для баннеров с размером стороны от 6
        метров)
    </li>
    <li>
        Проварка кармана снизу (Из белого полотна проваривается петля в 15 см которая проваривается снизу, обычно для
        утяжеления нижней части баннера)
    </li>
    <li>
        Проверка кармана сверху (Из белого полотна проваривается карман в 15 см сверху баннера, применяется
        для монтажа на трубу)
    </li>
</ol>
<h2 id="#Проварка баннеров и установка люверсов через 30 см">Проварка баннера и установка люверсов через 30 см</h2>
<p>Если не хотите вникать в тонкости финишной обработки баннеров. Смело выбирайте эту позицию обработки баннера,
    и не ошибетесь. Это стандартная обработка баннера. Примерно 85 % заказов баннера обрабатываются этим способом.
    Баннер печатается с запасом по 5 см по периметру по всем сторонам. Эти 5 см подгибается назад на 180 градусов для
    усиления края и проваривается. Затем в усиленный край устанавливаются люверсы.
</p>
<h2 id='#Оставить белые поля'>Оставить белые поля по 5 см на баннере</h2>

<p>На баннере остаются с каждой стороны белые поля по 5 см предназначенные для удобного
    крепления баннера или пристрелки степлером подворота.</p>
<h2 id='Резка в размер'>Резка материала "в размер"</h2>
<p>Резка в размер - напечатанный материал чаще всего - баннерное полотно режется "в размер" по картинке.</p>
<h2 id="#Люверсы по углам">Люверсы по углам</h2>
<p>Расстановка люверсов по углам используется для меленьких баннеров (размером от 0,3 до 1,2 м) для крепления небольших
    размеров
    достаточно установить люверсы в углах баннера. Если баннера больше 1 метра шириной и 1,5 метра длинной следует
    использовать
    стандартную установку люверсов через 30 см </p>
<h2 id="Установка люверсов в подворот">Установка люверсов в подворот баннера</h2>
<p>Установка люверсов в подворот баннера. Применяется в том случае когда ваш баннер прослужит всего пару недель, или же
    будет закреплен в помещении где, как правило, нет сильных ветровых нагрузок. В этом случае можно немного съэкономить
    и заказать установку люверсов в подворот.
</p>
<h2 id="#Проварка баннера со шнуром и установка люверсов через 30 см ">Проварка баннера со шнуром и установка люверсов через 30 см </h2>
<p>Проварка баннера со шнуром баннера используется для баннеров большого формата. Где требуется выдерживать большие ветровые нагрузки.


</p>
</body>
</html>
