<!doctype html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--        <link rel="stylesheet" href="css/new_style.css">-->
    <!--    <link href="{% static 'css/new_style.css' %} " rel="stylesheet" type="text/css">-->
    <!--        <link href='css/new_style.css' rel="stylesheet" type="text/css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <title>Для менеджеров типографий</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<div class="container">
    <header class="d-flex justify-content-center py-3">


        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link">Мобильные стенды</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Информационные стенды</a></li>

            <li class="nav-item"><a href="#" class="nav-link"> Цены на печать</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Как заказать</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Доставка</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
    </header>


    <h1>Информация для менеджеров типографий-партнеров</h1>
    <p>Тут мы постарались кратко и понятно описать, как работает наш онлайн-сервис. Также мы готовы проконсультировать
        Вас
        по телефону либо через мессенджеры.</p>

    <ul>
        <li><a href="#Регистрация партнеров">Регистрация партнеров</a></li>
        <li><a href="#Заполнение профиля">Заполнение профиля</a></li>
        <li><a href="#Загрузка прайс-листа">Загрузка прайс-листа</a></li>
        <li><a href="#Как начать принимать заказы?">Как начать принимать заказы?</a></li>
        <li><a href="#Получение письма с заказом">Получение письма с заказом</a></li>
        <li><a href="#Проверка и принятие файла">Проверка и принятие файла</a></li>
        <li><a href="#Сроки выполнения заказа">Сроки выполнения заказа</a></li>
        <li><a href="#Упаковка заказа">Упаковка заказа</a></li>
        <li><a href="#Доставка">Доставка</a></li>
        <li><a href="#Сроки исполнения заказа">Сроки исполнения заказа</a></li>
        <li><a href="#Маркировка готового заказа">Маркировка готового заказа</a></li>
        <li><a href="#Как получать больше заказов">Как получать больше заказов</a></li>
    </ul>


    <h2 id="Регистрация на сайте">Регистрация на сайте:</h2>
    <p>
        Для регистрации в сервисе в качестве партнера нужно перейти по адресу <a
            href="https://order.san-cd.ru/register/partners/">https://order.san-cd.ru/register/partners</a>
    </p>
    <ol>
        <li>
            В форме ввести Имя, электронную почту и придумать пароль.
        </li>
        <li>
            На электронную почту прейдет письмо с ссылкой об активации аккаунта.
        </li>
        <li>
            После подтверждения регистрации вы попадаете в административную панель сайта.
        </li>
    </ol>

    <h2 id="Заполнение профиля">Заполнение профиля типографии:</h2>
    <ol>
        <li>
            Первым делом после регистрации нужно заполнить профиль типографии:
        </li>
        <li>
            Перейдите в настройки / профиль
        </li>
        <li>
            Заполните профиль
        </li>
        <li>
            Укажите Имя, Отчество, Фамилию.
        </li>
        <li>
            Введите номер телефона
        </li>
        <li>Укажите если нужно (присылать уведомления на whatsapp)
        </li>
        <li>Укажите среднее время исполнения заказа</li>
        <li>Укажите за какое время напомнить типографии о заказе</li>
        <li>Укажите время работы.</li>
        <li>Укажите рабочие дни.</li>
    </ol>

    <h2 id='Загрузка прайс-листа'>Загрузка прайс-листа</h2>
    <p>Для загрузки прайс-листа необходимо скачать и заполнить файл шаблона прайс-листа: <a
            href="/price.xlc">price.xlc</a></p>
    <p>После заполнения файла прайс-листа, его необходимо загрузить в личном кабинете выберите раздел: Загрузка
        файл-листа</p>
    <h2 id="Прием заказов">Как начать принимать заказы:</h2>
    <p>После того как система проверит данные прайс-листа вы начнете получать заказы основываясь на геоданных заказчика,
        это
        значит что вы будете получать заказы от заказчиков которые находятся поблизости.</p>


    <h2 id="Получение письма с заказом">Получение письма с заказом:</h2>
            <p>Получение письма с заказом еще не означает его принятие в работу.</p>

    <ul>
        <li>В письме с новым заказом указан порядковый номер заказа.</li>
        <li>В самой верхней строке указана дата готовности заказа. Расчетное время даты устанавливается в личном кабинет.</li>
        <li>В теле письма указаны характеристики файлов присланных к печати.</li>
        <li>Снизу есть две кнопки: Первая "Скачать" для скачивания архива с файлами. Вторая "Принять заказ в работу."</li>
        <li>В первую очередь необходимо скачать архив.</li>
        <li>Для удобства в имени файла продублированны все характеристики для печати.</li>

    </ul>
    <h2 id="Проверка и принятие файла">Проверка и принятие файла</h2>
    <p>После скачивания архива и проверки файлов необходимо нажать кнопку "Принять в работу".</p>

    <h2 id="Доставка">Доставка:</h2>

    <h2 id="Как получать больше заказов">Как получать больше заказов</h2>
    <p>По умолчанию вы обязательно получаете заказ если система определила заказчика в вашем районе. Это удобно и вам
        и заказчику</p>
    <p>Так же в тестовом режиме работает система определения скорости выполнения заказов у типографии. Это означает что
        типография, которая не нарушаетЮ поставленные сроки является приоритетной для выполнения заказа</p>
    <button onclick="window.close()">Закрыть окно</button>
</div>

</body>
</html>
