<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="stylesheet" href="css/new_style.css">-->
    <!--    <link href="{% static 'css/new_style.css' %} " rel="stylesheet" type="text/css">-->
<!--        <link href='css/new_style.css' rel="stylesheet" type="text/css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Описание работы с сервисом</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<div class="container">


    

        <header class="d-flex justify-content-center py-3">

            
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="#" class="nav-link">Мобильные стенды</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Информационные стенды</a></li>

              <li class="nav-item"><a href="#" class="nav-link"> Цены на печать</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Как заказать</a></li>
              <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
              </div>
          </header>

          
          

<h1>Общая информация</h1>
<p>Тут мы постарались кратко и понятно описать, как работает наш онлайн-сервис. Также мы готовы проконсультировать Вас
    по телефону либо через мессенджеры.</p>

<ul>
    <li><a href="#Регистрация на сайте">Регистрация на сайте</a></li>
    <li><a href="#Заполнение профиля">Заполнение профиля</a></li>
    <li><a href="#Добавьте организацию плательщика">Добавьте организацию плательщика</a></li>
    <li><a href="#Загрузка файлов">Загрузка файлов</a></li>
    <li><a href="#Создание заказа">Создание заказа</a></li>
    <li><a href="#Оплата заказа">Оплата заказа</a></li>
    <li><a href="#Готовность заказа">Готовность заказа</a></li>
    <li><a href="#Доставка">Доставка</a></li>
    <li><a href="#Сроки исполнения заказа">Сроки исполнения заказа</a></li>
    <li><a href="#Удаление файлов из заказа">Удаление файла из заказа</a></li>
</ul>


<h2 id="Регистрация на сайте">Регистрация на сайте:</h2>
<p>
    Для регистрации на сайте нужно перейти по адресу <a href="https://order.san-cd.ru/register/">https://order.san-cd.ru/register/</a>
</p>
<ol>
    <li>
        В форме ввести Имя, электронную почту и придумать пароль.
    </li>
    <li>
        На электронную почту прейдет письмо с ссылкой об активации аккаунта.
    </li>
    <li>
        После подтверждения регистрации вы попадаете на главную страницу сайта.
    </li>
</ol>

<h2 id="Заполнение профиля">Заполнение профиля:</h2>
<ol>
    <li>
        Первым делом после регистрации нужно заполнить профиль пользователя:
    </li>
    <li>
        Перейдите в настройки / профиль пользователя
    </li>
    <li>
        Заполните профиль
    </li>
    <li>
        Укажите Имя, Отчество, Фамилию.
    </li>
    <li>
        Введите номер телефона
    </li>
    <li>Укажите если нужно (присылать уведомления на whatsapp)
    </li>
</ol>

<h2 id="Добавьте организацию плательщика">Добавьте организацию плательщика:</h2>
<ol>
    <li>
        Перейдите в настройки / организации
    </li>
    <li>На странице "Мои организации" нажмите кнопку "Добавить организцию"
    </li>
    <li>Введите название или ИНН организации остальные поля заполнятся автоматически
    </li>
    <li>Введите БИК банка и введите расчетный счет организации. Все остальное заполниться автоматически.
    </li>
    <li>Нажмите сохранить
    </li>
</ol>
<h1>Как сделать заказ:</h1>

<h2 id="Загрузка файлов">Загрузка файлов:</h2>
<ol>
    <li>Для создания заказа вам нужно загрузить файлы для печати. (Файл должен соответствовать требованиям)
    </li>
    <li>При загрузке требуется указать (количество, материал, финишную обработку (если есть).
    </li>
    <li>После загрузки - файл окажется в списке загруженных файлов. Где отобразяться его характеристики: материал,
        размер, финишная обработка, стоимость.

    </li>
    <li>Если что то при загрузке указали не верно (материал, размер, финишную обработку или колличество) - это можно
        поправить нажав кнопку изменить.
    </li>
    <li>Файл можно так же удалить нажав соответствующую кнопку.
    </li>
</ol>


<h2 id="Создание заказа">Создание заказа:</h2>
<ol>
    <li>Для создания заказа нужно нажать кнопку: "Новый заказ"
    </li>
    <li>Откроется новая страница в которой нужно выбрать параметры заказа:
        <ul>
            <li>Выбрать организацию плательщик;</li>
            <li>Выбрать метод доставки;</li>
            <li>Выбрать дату готовности заказа;</li>
            <li>Нажать на кнопку "Новый заказ".</li>
        </ul>
    </li>
    <li>В следующем окне сформируется заказ. Снизу будут видны файлы которые можно добавить в заказ.
        Выберите файл и нажмите "Добавить в заказ".
    </li>
    <li>После добавления нужных файлов в заказ станет активна кнопка "Оформить заказ"</li>
    <li>Нажмите кнопку "Оформить заказ"</li>

    </li>
    <li>После нажатия кнопки оформить заказ станет доступна страницы оплаты.</li>
</ol>
<h2 id="Удаление файлов из заказа">Удаление файлов из заказа</h2>
<p>Для удаления файлов из заказа нужно нажать на файле в который добавлен в заказ кнопку удалить. Файл будет удален из
    заказа, но
    останется в базе и его можно добавить повторно или в другой заказ</p>
<p>Для удаления файла полностью его следует удалить из раздела "Мои файлы"</p>
<h2 id="Оплата заказа">Оплата заказа:</h2>
<p>Для оплаты заказа по безналичному расчету требуется указать организацию-плательщика для выставления счетов.</p>

<p>В сервисе реализованы два вида оплаты:</p>
<ol>
    <li><a href="#Оплата по счету">Безналичный расчет с выставлением счета и получением закрывающих документов.</a></li>
    <li><a href="#Оплата по карте">Оплата картой через платежный шлюз с предоставлением чеков отчетности в
        налоговой.</a></li>
</ol>
<p>На странице оплаты появятся оба варианта если если вы указали в заказе организацию плательщика. Если нет то
    будет доступна оплата только по карте.</p>
<h3 id="Оплата по карте">Оплата по карте:</h3>
<p>Если вам требуется максимальная оперативность - это самый быстрый способ запустить заказ в работу.</p>
<ul>
    <li>При нажатии кнопки "Оплата по карте"</li>
    <li>Откроется страница платежного шлюза.</li>
    <li>После оплаты на указанную вами почту придут "Чеки для отчета перед налоговой".</li>
    <li>Статус заказ измениться на "Оплачен".</li>
</ul>
<p>Заказ поступает в работу. Через некоторое время статус заказа измениться на статус "В работе"</p>
<h3 id="Оплата по счету">Оплата по счету:</h3>
<p>Для оплаты по счету при формировании заказа нужно выбрать плательщика из ваших организаций.
    На странице оплаты будет доступна кнопка "Получить счет". Счет будет выписан на ту организацию которую вы выбрали
    в заказе.
    После оплаты счета, оплата в системе появится автоматически и заказ изменит статус на "Оплачен".</p>
<p>Заказ поступает в работу. Через некоторое время статус заказа измениться на статус "В работе"</p>


<h2 id="Добавление организации плательщика">Добавление организации плательщика</h2>
<ol>
    <li>Перейдите в настройки и выберите Организации.</li>
    <li>На странице нажмите кнопку "Добавить организацию"</li>
    <li>Введите реквизиты организации.</li>
    <li>Нажмите сохранить.</li>
</ol>

<h2 id="Готовность заказа">Готовность заказа:</h2>
<ol>
    <li>По готовности заказа вам поступит сообщение на почту или Whatsapp о готовности.</li>
    <li>Закрывающие документы появятся на странице оплаты.</li>
    <li>Время и адрес получения заказы придут в уведомлении.</li>

</ol>
<h2 id="Доставка">Доставка:</h2>
По умолчанию доставка отключена (в поле выбора доставки стоит "Самовывоз")
<h2 id="Сроки исполнения заказа">Сроки исполнения заказа</h2>
<p>
    Сроки исполнения зависят от объема и сложности заказа.
    Обычно мы исполняем заказ за 2 дня.
    Если по каким либо причинам исполнение заказа затягивается, мы обязательно вас об этом ставим в известность.
</p>
<button onclick="window.close()">Закрыть окно</button>
</div>

</body>
</html>
