{% extends "base.html" %}
{% load crispy_forms_tags %}

<title>{% block title %}Сброс забытого пароля{% endblock %}</title>
{% block body %}
<h1>Забыли свой пароль?</h1>
<p>Введите свой адрес электронной почты, чтобы получить новый пароль. Ссылка для смены пароля придет на вашу почту. </p>
<p>Необходимо ввести тот почтовый адрес с которым вы зарегистрированны в системе.</p>
<form method="post">
    <!-- {{ form.as_p }}-->
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Сбросить</button>

    {% csrf_token %}
</form>
{% endblock %}
