{% extends 'files/base_site.html' %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}
{% block content %}


<h1>{{title}}</h1>


 <div class="row">
    <div class="col-6">

<form action="{% url 'files:calculator_large_print_out' %}" method="post">
{% csrf_token %}
{{ form|crispy }}
<button type="submit" class="btn btn-primary">Рассчитать</button>
</form>

<h5>Сумма заказа: {{results}} руб.</h5>
<div > {{form.non_field_errors }}</div>
    </div>
    <div class="col-6">

<h2>Сумма заказа: {{results}} руб.</h2>

    </div>
  </div>


{% endblock %}