{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}Загрузка макета для Роллапа{% endblock %}

{% block body %}

<h3>Загрузите макет для макета для Роллапа</h3>
<p>Файл должен соответствовать требованиям:
<p>Расширение файла - TIFF</p>
<p> Цветовая Модель - CMYK</p>
<p> Разрешение - 150 dpi</p>


<p>Рекомендуем использовать LWZ компрессию, ваш файл станет гораздо меньше.
    У файла не должно быть альфаканалов, путей, несведенных слоев.</p>

<div class="containers">
    <form action="{% url 'files:create_rollup' %}" method="post", enctype="multipart/form-data">

        {% csrf_token %}
<!--        {{ form|crispy }}-->

        <p>{{form.material}}</p>
       <p> {{form.quantity}}</p>
       <p> {{form.FinishWork}}</p>
       <p> {{form.images}}</p>
        <button type="submit" class="btn btn-primary">Загрузить</button>

    </form>
</div>




{% endblock %}

