{% extends 'base.html'%}
<title>{% block title %} {{title}} {{current_order}} {% endblock %}</title>
{% block body %}

<h1>{{title}}</h1>

<table>
    <tr>
        <td>Фото продукции</td>
        <td><a>{% load thumbnail %} <img src="{% thumbnail item.img_production 400x0 %}" class="image-detail"></a></td>

    </tr>
    <tr>
        <td>Фото Телефона водителя</td>
        <td><a>{% load thumbnail %} <img src="{% thumbnail item.img_phone 400x0 %}" class="image-detail"></a></td>
    </tr>
    <tr>
        <td>Фото Номер автобуса</td>
        <td><a>{% load thumbnail %} <img src="{% thumbnail item.img_bus 400x0 %}" class="image-detail"></a></td>
    </tr>
    <tr>
        <td>Комментарии</td>
        <td>{{ item.comments }}</td>
    </tr>
</table>


<form action="{% url 'delivery_in_bus:complete' order_id %}" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отгрузка завершена</button>

</form>


{% endblock %}