{% extends 'base.html'%}
<title>{% block title %} {{current_order}} {% endblock %}</title>
{% block body %}

<h1>Инструкция для курьера</h1>
<h5>При получении уведомления о необходимости доставки</h5>

<ol>
    <li>Проверить готовность продукции у ведущего заказ менеджера.</li>
    <li>Аккуратно собрать и упаковать продукцию.</li>
</ol>
<hr>

<h5>Время отправки автобусов: 21-15 и 23-00</h5>
<h5>Место отправки автобусов: ЖД Вокзал 1</h5>
<a href="https://goo.gl/maps/DvRRDRJtStvFBkmw9">Место посадки в автобус на Google карте</a>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab7246f8643d2a63fcb03b8c43382b0bf43d8ee9b4f144742a5afdb55d44635cf&amp;width=100%25&amp;height=416&amp;lang=ru_RU&amp;scroll=true"></script>
<hr>
<h5>Отправка продукции:</h5>
<ol>
    <p>
        В месте отправки автобуса быть не менее чем за 25 минут до отправки автобуса.
    </p>
    <li>Погрузить продукцию в автобус.</li>
    <li>Сфотографировать и загрузить погруженную продукцию в автобусе.</li>
    <li>Сфотографировать и загрузить номер телефона водителя.</li>
    <li>Сфотографировать и загрузить номер автобуса</li>
    <li>Нажать кнопку отправить продукцию.</li>
    <li>Если все прогрузилось успешно вы увидите сообщение об этом на экране</li>


</ol>

<td>
            <button type="submit" class="btn btn-success"
                    onClick="location.href='{% url 'delivery_in_bus:instruction_for_courier' Orders.id %}'">Начать отгрузку
            </button>
        </td>

{% endblock %}