{% extends 'base.html'%}
<title>{% block title %} {{current_order}} {% endblock %}</title>
{% block body %}

<h1>Инструкция для курьера</h1>
<h5>При получении уведомления о необходимости доставки</h5>

<ol>
    <li>Проверить готовность продукции у ведущего заказ менеджера.</li>
    <li>Аккуратно собрать и упаковать продукцию.</li>
</ol>
<hr>
<h3>Инструкция по сборке и упаковке заказа</h3>
<ol>
    <li>
        Баннерная ткань должна быть свернута в "конверт" (ширина 30-40 см, длинной 0,7 - 1 м).
    </li>

    <li>Материал должен быть сложен так что бы не было неровностей и загибов. Не допускается последний сгиб меньше 40
        см.
    </li>
    <li>Баннерная ткань укладывается в стопку не более 25 см.</li>
    <li>Стопка фиксируется стрейч-пленкой или б/у баннером, полностью закрывая материал со всех сторон.</li>
    <li>Стрейч дополнительно фиксируется скотчем. (Не допускается болтание кусков стрейч-пленки на продукции)</li>
    <li>Рулонный материал должен быть намотан на тубу.</li>
    <li>Рулонный материал упаковывается стрейч-пленкой или б/у баннером</li>
</ol>
<h5>Время отправки автобусов: 21-15 и 23-00</h5>
<h5>Место отправки автобусов: ЖД Вокзал 1</h5>

<h5>Отправка продукции:</h5>
<ol>
    <p>
        В месте отправки автобуса быть не менее чем за 25 минут до отправки автобуса.
    </p>
    <li>Погрузить продукцию в автобус.</li>
    <li>Сфотографировать и загрузить погруженную продукцию в автобусе.</li>
    <li>Сфотографировать и загрузить номер телефона водителя.</li>
    <li>Сфотографировать и загрузить номер автобуса</li>
    <li>Нажать кнопку отправить продукцию.</li>
    <li>Если все прогрузилось успешно вы увидите сообщение об этом на экране</li>


</ol>


{% endblock %}