{% extends 'base.html'%}
<title>{% block title %} {{current_order}} {% endblock %}</title>
{% block body %}

<h3>Инструкция по сборке и упаковке заказа</h3>
<ol>
    <li>
        Баннерная ткань должна быть свернута в "конверт" (ширина 30-40 см, длинной 0,7 - 1 м).
    </li>

    <li>Материал должен быть сложен так что бы не было неровностей и загибов. Не допускается последний сгиб меньше 40
        см.
    </li>
    <li>Баннерная ткань укладывается в стопку не более 25 см.</li>
    <li>Стопка фиксируется стрейч-пленкой или б/у баннером, полностью закрывая материал со всех сторон.</li>
    <li>Стрейч дополнительно фиксируется скотчем. (Не допускается болтание кусков стрейч-пленки на продукции)</li>
    <li>Рулонный материал должен быть намотан на тубу.</li>
    <li>Рулонный материал упаковывается стрейч-пленкой или б/у баннером</li>
</ol>

{% endblock %}