{% extends 'base.html'%}
<title>{% block title %} {{title}} {{current_order}} {% endblock %}</title>
{% block body %}

<h1>{{title}}</h1>

<h5>Отправка продукции:</h5>
<ol>
    <p>
        В месте отправки автобуса быть не менее чем за 25 минут до отправки автобуса.
    </p>
    <li>Погрузить продукцию в автобус.</li>
    <li>Сфотографировать и загрузить погруженную продукцию в автобусе.</li>
    <li>Сфотографировать и загрузить номер телефона водителя.</li>
    <li>Сфотографировать и загрузить номер автобуса</li>
    <li>Нажать кнопку отправить продукцию.</li>
    <li>Если все прогрузилось успешно вы увидите сообщение об этом на экране</li>


</ol>
<form action="" method='post' enctype="multipart/form-data">
    {% csrf_token %}

{{ form.as_p }}
    <button type="submit">Добавить</button>

</form>


{% endblock %}