{% extends 'base.html'%}
<title>{% block title %} {{title}} {{current_order}} {% endblock %}</title>
{% block body %}
<h3>Спроси у водителя телефон</h3>
<h4>Сфотографируй и загрузи номер телефона водителя</h4>
<form action="{% url 'delivery_in_bus:load_img_phone' order_id %}" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить тел</button>

</form>
<hr>

<h5 align="center">{{title}}</h5>
<td align="center">{% load thumbnail %} <img src="{% thumbnail item.img_production 400x0 %}" class="image-detail"></td>
<hr>

{% endblock %}