{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Редактировать профиль{% endblock %}
{% block body %}


<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->

    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">
        <div class="card-body">
            <h1>Редактировать профиль</h1>
            <form method="post" enctype="multipart/form-data">
                {{ user_form|crispy }}
                {{ profile_form|crispy}}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Изменить</button>

            </form>
        </div>
    </div>
</div>


<!-- /.container-fluid -->

{% endblock %}