{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} Добавить организацию{% endblock %}

{% block body %}
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/suggestions-jquery@latest/dist/css/suggestions.min.css'>
<!--<link rel="stylesheet" href="./style.css">-->
<div class="well well-sm col-md-6">
    <!--    <div class="view">&nbsp;</div>-->

    <form action="{% url 'account:add_organisation_test' %}" method="post">

        <section class="container">
            <div class="form-group">
                {% csrf_token %}


                <h1>Добавить организацию</h1>
                <input class="form-control" id="party" name="party" type="text"
                       placeholder="Введите название, ИНН, ОГРН или адрес организации"/>
            </div>
        </section>
        {{ form|crispy }}


        <!--        <section class="result">-->
        <!--            <p id="type"></p>-->
        <!--            <div class="form-group">-->
        <!--                <label>Краткое наименование</label><input class="form-control" id="name_short">-->
        <!--            </div>-->
        <!--            <div class="form-group">-->
        <!--                <label>Полное наименование</label><input type='text' name='name_full' class="form-control"-->
        <!--                                                         id="name_full">-->
        <!--            </div>-->
        <!--            <div class="form-group">-->
        <!--                <label>ИНН</label><input type='text' name='inn' class="form-control" id="inn">-->
        <!--            </div>-->
        <!--            <div class="form-group">-->
        <!--                <label>КПП</label><input type='text' name='kpp' class="form-control" id="kpp">-->
        <!--            </div>-->
        <!--            <div class="form-group">-->
        <!--                <label>Адрес</label> <input type='text' name='address' class="form-control" id="address">-->
        <!--            </div>-->
        </section>
        <input type="submit" value="Save">

    </form>

    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/suggestions-jquery@latest/dist/js/jquery.suggestions.min.js'></script>
    <script src="{% static 'js/script.js' %}"></script>


</div>

{% endblock %}


<!--  <input type="email"  id="id_name_ul >-->


