<!--{% extends "base.html" %}-->
<!--{% load crispy_forms_tags %}-->

<!--{% block title %}Создать учетную запись{% endblock %}-->
<!--{% block body %}-->
<!-- <h1>Создать учетную запись</h1>-->
<!-- <p>Пожалуйста, зарегистрируйтесь, используя следующую форму:</p>-->
<!-- <form method="post">-->
<!--&lt;!&ndash; {{ user_form.as_p }}&ndash;&gt;-->
<!-- {{ user_form|crispy }}-->

<!-- {% csrf_token %}-->
<!-- <p><input type="submit" value="Create my account"></p>-->
<!-- </form>-->
<!--{% endblock %}-->
