{% extends 'base.html'%}
    <title>{% block title %} Главная страница {% endblock %}</title>
{% block body %}

    <h1>Список файлов: </h1>
 <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Изображение</th>
                                                    <th scope="col">Материал</th>
                                                    <th scope="col">Количество</th>
                                                    <th scope="col">Стоимость</th>
                                                    <th scope="col">Юзер:</th>
                                                </tr>
                                            </thead>

     {% for product in object_list %}

                                            <tbody>
                                                <tr>
                                                    <td>{% load thumbnail %} <img src="{% thumbnail product.images 100x0 %}" class="image-detail"></td>
                                                    <td>{{ product.material }}</td>
                                                    <td>{{ product.quantity }}
                                                    <td> {{ product.price }} руб.</div>
                                                    <td> {{ product.Contractor }} </div>
</td>
                                                </tr>

                                           </tr>
{% endfor %}


                                                    </tbody>
                                        </table>



{% endblock body %}