{% extends 'base.html'%}
<title>{% block title %} Прайс-лист на широкоформатную печать {% endblock %}</title>
{% block body %}
{% if price_shirka.count > 0 %}
    <h4>Широкоформатная печать: цена за 1 м2: </h4>
    <table>
        <thead>
           <th>Материал</th><th>Тип печати</th><th>Цена</th>
       </thead>
        {% for field in price_shirka %}
        <tr>
            <td>{{ field.name }}</td>

            <td>{{ field.type_print }} </td>
            <td>{{ field.price }} руб.</td>
        </tr>
        {% endfor %}
           </table>

    <h4>Интерьерная печать: цена за 1 м2: </h4>
        <table>
        <thead>
           <th>Материал</th><th>Тип печати</th><th>Цена</th>
       </thead>

           {% for field in price_interierka %}
        <tr>
            <td>{{ field.name }}</td>
            <td>{{ field.type_print }} </td>
            <td>{{ field.price }} руб.</td>
        </tr>
        {% endfor %}

    </table>
  <h4>UV печать: цена за 1 м2: </h4>
        <table>
        <thead>
           <th>Материал</th><th>Тип печати</th><th>Цена</th>
       </thead>

           {% for field in price_UV %}
        <tr>
            <td>{{ field.name }}</td>
            <td>{{ field.type_print }} </td>
            <td>{{ field.price }} руб.</td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}

    {% endblock %}