{% extends 'files/templates_reds.html' %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}
{% block content %}
 <style>
     .summa {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    text-align: center;

}
    </style>

<h1 style="text-align: center">{{title}}</h1>


<div class="row">
    <div class="col-sm">

        <form action="{% url 'bforms:sale_banner' %}" method="post", enctype="multipart/form-data">
<!--    <form name='bob'>-->
    <input type="radio" name="field" value="one" onchange='check_value(event)'>one
    <input type="radio" name="field" value="two" onchange='check_value(event)'>two
    <input type="radio" name="field" value="three" onchange='check_value(event)'>three
<!--</form>-->

<img id='imagetest'>
</img>
        {% csrf_token %}
            {% for plan in form.name_banner%}
            <input type="radio" name="plan" id="choice{{ forloop.counter }}" value="{{ plan.id }}">
            <label for="plan{{ forloop.counter }}">{{ plan }}</label><br>
        {% endfor %}


            {{ form|crispy }}
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>

        <div> {{form.non_field_errors }}</div>
    </div>
    <svg width="650" height="400" xmlns="http://www.w3.org/2000/svg">
    <rect x="50" y="50" width="650" height="450" rx="0" ry="10" style="fill:#FF0000" />
             <!-- текст -->
          <text x="60" y="100" stroke="none" fill="#000000" style="font-size: 24px;">

            {{ form.name_banner.field.choices.0.1 }}
          </text>
</svg>
{% endblock %}
